@font-face {
    font-family: "JetBrains Mono";
    src: url(/JetBrainsMono-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
    color: #DDDDDD;
    font-family: "JetBrains Mono";
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
}

a:link {
    color: #7EB6E1;
}

a:visited {
    color: #5075BF;
}
